{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="col-xs-12">
    <div class="row registry-info">
      <div class="col-xs-12 col-sm-4">
        <img src="{% static 'images/florida_keys.jpg' %}" class="img-responsive"/>
      </div>
      <div class="col-xs-12 col-sm-8">
        <h1>Honeymoon Registry</h1>
        <p>We will be flying in to Ft. Lauderdale, FL on Aug. 28th and drive to the Florida Keys where we will be staying in Marathon through Friday and spending the weekend in Key West.</p>
      </div>
    </div>
    <div class="list-group">
      {% for object in object_list %}
      <div class="list-group-item{% if object.picked %} disabled{% endif %}">
        <div class="registry-item">
          {% if object.thumbnail %}
          <div class="preview-image">
            <img src="{{ object.thumbnail.url }}" />
          </div>
          {% endif %}
          <div class="body">
            <h4 class="list-group-item-heading">{{ object.title }}</h4>
            {% if object.description %}
            <p class="list-group-item-text">{{ object.description|urlize|linebreaksbr }}</p>
            {% endif %}
          </div>
          <div class="actions">
            <a href="{{ object.link }}" class="btn btn-default">View Details</a>
            <form method="post" action="{% url "mark-purchased" pk=object.id %}">
              {% csrf_token %}
              {% if object.picked %}
              <input type="submit" class="btn btn-default" value="Mark as Unclaimed" />
              {% else %}
              <input type="submit" class="btn btn-default" value="Mark as Claimed" />
              {% endif %}
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
